header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin: -60px auto 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}


.button-group {
  margin-top: 0.5rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;

}

.button-group a:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.card-icon {
  font-size: 1.4rem;
  font-weight: bold;
  pointer-events: none;
}

/*★show page★*/
.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*★edit page★*/
.edit-container {
  margin: 5rem auto;
  padding: 2rem;
  max-width: 60%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.edit-header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;

}

/*★modal★*/

.del-modal {
  padding: 1rem 2rem;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
}

.del-modal h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.modal-buttons .del-btn,
.modal-buttons .close-modal-btn {
  width: 6rem;
  font-weight: 600;
}

.del-modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}
